## Getting help: attach a '?' at the end

In [3]:
print?

Signature: print(*args, sep=' ', end='\n', file=None, flush=False)
Docstring:
Prints the values to a stream, or to sys.stdout by default.

sep
  string inserted between values, default a space.
end
  string appended after the last value, default a newline.
file
  a file-like object (stream); defaults to the current sys.stdout.
flush
  whether to forcibly flush the stream.
Type:      builtin_function_or_method

## Data types

In [4]:
type

type

## Dictionaries

In [5]:
person = {'first_name':'Chris', 'last_name':'Giamarino','hobby':'skateboarding'}
person

{'first_name': 'Chris', 'last_name': 'Giamarino', 'hobby': 'skateboarding'}

## Functions

In [ ]:
# how many characters are in this string? use len function
len(location)

In [ ]:
# you can replace characters in a string with the replace() method
location.replace('e', 'E')

In [ ]:
# add a new element with the append() method
# lists can hold elements of varying data types
my_list.append('hello')

In [ ]:
# I want to see all the data
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [ ]:
#Sort city_count by 'count' in descending order
top_5_cities = city_count.sort_values('count', ascending=False).head(5)

# Then plot only these top 5
top_5_cities.plot.bar(x='City', y='count', title='Top 5 Cities')
plt.show()

In [ ]:
# axis = 0 drops rows axis = 1 drops columns with null
df = df.dropna(axis=1,how="all")

In [ ]:
# Filter your original GeoDataFrame to those top 10 intersections
top_10_PLI = PLI_df[PLI_df['Primary_St'].isin(top_10_intersections)]

Error:

In [ ]:
tracts_race['Black or African American'] = pd.to_numeric(tracts_race['Black or African American'], errors='coerce')